body {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.translate {
    color: gray;
    font-style: italic;
    font-weight: initial;
}

.innerContainer {
    width: 95%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding-bottom: 80px;
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContainer h1 {
    margin: 0;
}

.tableFlip {
    font-family: serif;
}

.tableOfContents {
    margin-left: 30px;
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
}

textarea {
    height: 80px;
}

.imageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainImage {
    width: 80%;
    max-width: 400px;
}

.dbImage {
    width: 80%;
    max-width: 500px;
}

hr.divider {
    border-top: 1px dashed gray;
    border-bottom: none;
}

.projectContainer {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.photoContainer {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (width <=600px) {
    body {
        font-size: 12px;
    }

    .innerContainer {
        margin-top: 40px;
    }

    ul li {
        margin-left: -20px;
    }
}